@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&family=Dangrek&family=Nokora&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.rainbow-text {
	@apply text-transparent bg-clip-text bg-gradient-to-r from-primary to-pink-600;
	line-height: 2 !important;
}
.rainbow-bg {
	@apply bg-gradient-to-r from-primary to-pink-600;
}
.font-kh{
	font-family: 'Dangrek','Inter' !important;
}
.font-nokora{
	font-family: 'Nokora','Inter' !important;
}
.page-enter-active,
.page-leave-active {
	transition: all 0.3s ease-in-out;
}

.page-enter-from,
.page-leave-to {
	opacity: 0;
	transform: scale(0.99);
}
.prose-sm :where(code):not(:where([class~="not-prose"] *)){
	font-size: 16px;
}